@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,regular,600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #010208;
	color: #fff;
}


.container {
	max-width: 1245px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__logo> img{
	max-width: 120%;
}


.header {
	padding: 35px 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 5;
	background-color: #010208;
	
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.header__logo {
}
.header__menu {
}
.menu__list {
	transition: all .3s ease-out; 	
	list-style:none;
	display: flex;
	align-items: center;;
	gap: 3rem;
}
.menu__list.active{
	transform:translateX(0) ;
}
.menu__item {
	text-decoration: none;
	transition: all .2 ease-in-out;
}

.menu__link {
	color: #e3e3e3;
	font-size: 1.2rem;
	text-transform:uppercase ;
	text-decoration: none;
	font-weight: 600;
	position: relative;
   	
}

.menu__icon{
	width: 30px;
	height: 18px;
	position: relative;
	margin-right: 20px;
	z-index: 5;
	cursor: pointer;
	display: none;
	
}
.menu__icon span{
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	width: 100%;
	height: 2px;
	background-color: #e3e3e3;
	

}

.menu__icon span:first-child{
top: 0;


}

.menu__icon span:last-child{
	top: auto;
	bottom: 0;

	}
.menu__link:hover {
	
	background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/*background-clip: text;*/

}

.menu__link:hover::before{
	opacity: 1;
	width: 2rem;
}
.menu__link::before{
	content: '';

	width: 1rem;
	height: 5px;
	background-color:#fff;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 120%;
	transform:translateX(-50%) ;
	opacity: 0;


}

.hero{
	height: 100vh;
	display: flex;
	align-items: center;;
	justify-content: center;
position: relative;
min-height: 400px;
}
.hero__title {
	font-weight: 300;
font-size: 56px;
line-height: 150%;
text-align: center;
letter-spacing: -0.02em;
color: rgba(227, 228, 230, 0.55);
}
.hero__title span{
	font-weight: 600;
	color: #E3E4E6;
}
.hero_arrow {
	position: absolute;
	color: #e3e3e3;
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	background: transparent url('../img/arrow.svg') center center no-repeat;
	left: 50%;
	bottom: 42px;
	transform: translateX(-50%) rotate(90deg);
	cursor: pointer;
}
.hero_arrow:hover {
	background-color:rgba(247, 248, 240, 0.55);
	border-radius: 50px;

}



.clients {
	height: 70vh;
padding: 80px 130px;



}

.clients__title {
	max-width: 560px;
	font-weight: 600;
	font-size: 40px;
	line-height: 150%;
	color: #E3E4E6;

}
.clients__title span {
	font-weight: 300;
	color: rgba(227, 228, 230, 0.55);
}
.clients__body {
	margin-top: 95px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.clients__item {
	display: flex;
	flex-direction: row;
	
}


.works {
	padding: 80px  110px;
}

.container.works__container {
}

.works__title {
	color: rgba(227, 228, 230, 0.55);
	font-weight: 300;
	font-size: 40px;
	line-height: 150%;

}
.works__title span{
	font-weight: 600;
	font-size: 40px;
	color: #E3E4E6;

	
}
.works__body {
	margin-top: 95px;
}
.card{
	display: flex;
	gap: 32px;
	
	
}
.card:not(:last-child){
	margin-bottom: 100px;
}

.card:nth-child(odd){
	flex-direction: row-reverse;
}
.works__card.card {
	
}
.card__info {
	flex: 1 1 auto;
	align-self: flex-end;
}

.card__img {
	border-radius: 20px;
	overflow: hidden;
	flex: 0 0 50%;
}
.card__img img{
	max-width: 100%;
}
.card__tag {
font-weight: 600;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #E3E4E6;
margin-bottom: 15px;
}
.card__text {
	margin-bottom: 24px;
	font-weight: 300;
font-size: 32px;
line-height: 150%;
color: rgba(227, 228, 230, 0.55);
}
.card__text span{
font-weight: 600;
font-size: 32px;
line-height: 150%;
color: #E3E4E6;
}
.card__category {
	margin-bottom: 40px;
font-weight: 300;
font-size: 18px;
line-height: 150%;
color: #E3E4E6;
}
.card__btn {
	margin-top: 32px;
	border: none;
	border: 1px solid rgba(227, 228, 230, 0.55);
border-radius: 100px;
padding: 8px 16px;
background: none;
color: #E3E4E6;
cursor: pointer;;
align-items: center;;
text-align: center;;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8px;

}
.card__btn::after{

	content: url('/img/arrow.svg');

}

.card__btn:hover{
	background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
border: 1px solid #E3E4E6;
border-radius: 100px;
}
.card__btn:hover::after{
	content: url('/img/arrow-hover.svg');
}


.about {
	padding: 75px 0;
}
.about__container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.about__text {
	font-size: 32px;
	line-height: 150%;
	color: #e3e4e6;
	font-weight: 600;
	margin-top: 10px;
}
.about__text span {
	color: rgba(227, 228, 230, 0.55);
	font-weight: 300;
}
.about__title {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #E3E4E6;
}
.about__gallery {
	flex: 0 0 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 20px;
}
.about__img {
	border-radius: 10px;
	overflow: hidden;
}
.about__img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.about__img:nth-child(1) {
	grid-column: 1/2;
	grid-row: 2/4;
}
.about__img:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/3;
}
.about__img:nth-child(3) {
	grid-column: 2/3;
	grid-row: 3/5;
}



/*footer*/


.footer {

padding: 80px 0 40px ;
}

.footer__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;


}

.footer__info {
}

.footer__text {
	font-weight: 300;
	font-size: 56px;
	line-height: 150%;
	text-align: center;
	letter-spacing: -0.02em;
	color: rgba(227, 228, 230, 0.55);
}
.footer__text span{
	font-weight: 600;
	font-size: 56px;
	line-height: 150%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #E3E4E6;

}
.footer__subtext{
	font-weight: 300;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #E3E4E6;
	margin-bottom: 2rem;
}

.footer__social {
	display: flex;
	gap: 2rem;
	margin-bottom: 5rem;
}
.footer__svg:hover img {
	fill: #e3e3e3;
	color: #fff;
	transform: scale(1.3);

}

.footer__cooperate {
	font-weight: 300;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: rgba(227, 228, 230, 0.55);
}
.footer__cooperate span {
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #E3E4E6;

}

@media (max-width: 576px) {

	.header__logo {
		padding: 0 20px;
	}
	.menu__icon{
		display: block;

	}
	.menu__list{
		position: absolute;
		top: 0;
		left: 0;
		background-color: #010208;
		width: 100%;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform:translateX(-100%)	
	}
	.menu__link{
		font-size: 30px;
	}

	.container {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 1px;
	}

	.clients {
		padding: 45px 50px;
		overflow:inherit;
	}
	.works {
		padding: 75px 50px;
		margin-top: 80px;
	}
	.about{
		padding: 75px 50px;

	}

	.clients li{
		padding: 0 30px;
	}
  .clients__title{
	font-size: 30px;
  }

  .header__logo> img{
	max-width: 75%;
}

.works__body{
	margin-top: 30px;
}
.works__title, .works__title span{
	font-size: 30px;

}
.card {
	flex-direction: column;;
	align-items: center;;
	margin-bottom: 50px;
}
.card:nth-child(odd){
	flex-direction: column;
	margin-bottom: 50px;

}
.works__card.card {
	margin-bottom: 50px;
}

.card__text, .card__text span {
	font-size: 20px;
}

.card__category{
	margin-top: 10px;
}


.about__text{
	font-size: 20px;
}

.about__container{
	flex-direction: column;;
	gap: 20px;
}
.footer__text, .footer__text span{
	font-size: 30px;
}
.footer__subtext{
	font-size: 20px;
}
.footer__social{
	margin-bottom: 2rem;
}

}
@media (max-width: 375px) {

	.header__logo {
		padding: 0 20px;
	}
	.hero__title{
		font-size: 25px;
	}
	.container{
		max-width: 400px;
		margin: 0 auto;
		padding: 0 1px;
	}
	.card__category{
		margin-bottom: 10px;
	}
	.card {
		flex-direction: column;;
		align-items: center;;
		margin-bottom: 30px;
	}
	.card:nth-child(odd){
		flex-direction: column;
		margin-bottom: 30px;
	
	}
	.works__card.card {
		margin-bottom: 30px;
	}
	
}




